@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply mx-4;
}

h2 {
    @apply text-xl text-yellow-600 tracking-wider;
}

h3 {
    @apply text-xl text-slate-700 tracking-wider;
}

h4 {
    @apply text-md text-slate-700 tracking-wider;
}

p.subtitle {
    @apply text-sm text-slate-400 tracking-wide pt-1 mb-4 italic;
}